<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 m3 s6">
          <h2 class="white-text">FAQ</h2>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Payment method</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">How to start uploading</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">How do I get paid</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">How to download </a></li>
          </ul>
        </div>
        <div class="col l3 m3 s6">
            <h2 class="white-text">COMMUNITY</h2>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Community projects</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Join our Discord</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Monthly featured</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Become a part of 3Dim</a></li>
            </ul>
          </div>
          <div class="col l3 m3 s6">
            <h2 class="white-text">LEARN</h2>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Upcoming Courses</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.youtube.com">Visit our channel</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Free resources for students & beginers</a></li>
            </ul>
          </div>
          <div class="col l3 m3 s6">
            <h2 class="white-text">FOLLOW US</h2>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.instagram.com">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.youtube.com">Youtube</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.twitter.com">Twitter</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright 3Dim
      <a class="grey-text text-lighten-4 right" href="#!">3Dim @2021</a>
      </div>
    </div>
  </footer>