<div class="navbar-fixed">
  <nav class="transparent z-depth-1">
    <div class="nav-wrapper row">
      <div class="col l1 push-l1 left">
        <a href="#!">
          <img src="assets/icons/logomenu.png" alt="" id="logo">
      </a>
      </div>
      
      <ul id="nav-mobile" class="hide-on-med-and-down col l3 push-l1">
        <li><a href="#">Explore</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

      <form class="col l3 m2 s6 push-l3 push-s1">
        <div class="row valign-wrapper">
          <div class="input-field col l9 left">
            <input placeholder="Search" id="search" type="search" >
          </div>
          <div class="col l3 right">
            <i class="material-icons  ">search</i>
          </div>
        </div>
      </form>

      <ul class="hide-on-med-and-down col l2 right">
        <li><a href="#">Sign In</a></li>
        <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Explore</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Learn</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Shopping Cart</a></li>
    </ul>
  </nav>
</div>