
<div class="card horizontal valign-wrapper">
    <div class="card-image">
        <img src="../../../assets/resources/{{products.foto}}.png">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <small class="cat">{{products.category}}</small>
            <span class="card-title">{{products.title}}</span>
            <p>{{products.qty}} {{products.qty_name}}</p>
            <p>color:verde</p>
        </div>
        <div class="card-action center-align">
            <div class="quantity row">
                <div class="col l7  valign-wrapper">
                    <!--<a class="plus-btn col l1">
                        <i class="material-icons">remove</i>
                    </a>
                    <input type="text" class="center-align col l2" value="{{products.qty_c}}">
                    <a class="minus-btn col l1">
                        <i class="material-icons">add</i>
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>