.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    margin-left: 10px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 15px;
}

.col-2 p{
    margin: 25px 15px;
}

.col-2 h6{
    margin: 25px 15px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 30 30px;
    margin: 30px 15px;
    border-radius: 30px;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    height: auto;
}

.col-4:hover{
    transform: translateY(-5px);
}

.rating{
    height: 40px;
    width: 60px;
}

.price{
    text-align: right;
}

.single-product{
    margin-top: 80px;
}

.single-product col-2 img{
    padding: 0;
}

.single-product col-2{
    padding: 20px;
}

.single-product h6{
    margin: 20px 20px;
    font-size: 22px;
    font-weight: bold;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 45%;
    cursor: pointer;
}