<p>product-viewer works!</p>

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/resources/modelo4.png" width="80%" id="product-img">
            
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../../../assets/resources/modelo4-view2.png" width="55%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../../../assets/resources/modelo4-view3.png" width="55%" class="small-img">
                </div>
            </div>


        </div>
        <div class="col-2">
            <p>Codigo: K3923-1</p>
            <h1>LOREM IPSUM DOLOR SIT AMET CONSECTEUR</h1>
            <img src="../../../assets/Iconos/Full star (1).png" width="5%">
            <img src="../../../assets/Iconos/Full star (1).png" width="5%">
            <img src="../../../assets/Iconos/Full star (1).png" width="5%">
            <img src="../../../assets/Iconos/Full star (1).png" width="5%">
            <img src="../../../assets/Iconos/no star.png" width="5%">
            <h6>$9.99</h6>
           <a class="btn" (click)="addToCotizar()">Add to Cart</a> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="../../../assets/resources/modelo1.png">
        <h5><b>Modelo de Carro</b></h5>
        <p>Lorem Ipsum dolor sit amet consecteur adipiscing</p>
        <div class="rating">
            <img src="../../../assets/Iconos/icono de rating.png"> 
           
        </div>
        <h6 class="price">$9.99</h6>
        <div class="card-action">
            <a class="sub-link" href="#" style="color: black;"><b>Lorem Ipsum</b></a>
          </div>
    </div>

    <div class="col-4">
        <img src="../../../assets/resources/modelo2.png">
        <h5><b>Modelo de Carro</b></h5>
        <p>Lorem Ipsum dolor sit amet consecteur adipiscing</p>
        <div class="rating">
            <img src="../../../assets/Iconos/icono de rating.png"> 
           
        </div>
        <h6 class="price">$9.99</h6>
        <div class="card-action">
            <a class="sub-link" href="#" style="color: black;"><b>Lorem Ipsum</b></a>
          </div>
    </div>

    <div class="col-4">
        <img src="../../../assets/resources/modelo3.png">
        <h5><b>Modelo de Carro</b></h5>
        <p>Lorem Ipsum dolor sit amet consecteur adipiscing</p>
        <div class="rating">
            <img src="../../../assets/Iconos/icono de rating.png"> 
           
        </div>
        <h6 class="price">$9.99</h6>
        <div class="card-action">
            <a class="sub-link" href="#" style="color: black;"><b>Lorem Ipsum</b></a>
          </div>
    </div>  

</div>