
<!--Este es el banner principal-->
<div id="tridibanner">
  <div class="row">
    <div class="col s12 l6 push-l1">
      <h1 id="maintitle">DISCOVER A NEW <br> WORLD IN 3D</h1>
      <p id="maintext">Explore a fascinating and ever-changing <br><br>
        landscape where imagination and <br><br>
        creativity know no limits. </p>
        <a href="lista" class="waves-effect waves-light btn-large">START EXPLORING</a> <!--Este bonton lleva a la galeria-->
    </div>
    <div class="col l6  s12 center" id="canvas">   <!--Este es el Div que controla las dimensiones del objeto 3D-->
   </div>
  </div>
</div>

<!--Primera seccion donde estan los 3 cosos y el boton-->
<div id="trespilares" class="row">
  <div class="col l4  m4 push-l1 s12 center">
    <img class="tpicon" src="assets/icons/share.png">
    <h1 class="tptitle">SHARE</h1>
    <p class="tptext">  Start uploading your work.<br>
      Share, learn, grow and earn money<br>
      for doing what you love</p>
  </div>
  <div class="col l4 m4 s12 center">
    <img class="tpicon" src="assets/icons/loupe.png">
    <h1 class="tptitle">DISCOVER</h1>
    <p class="tptext"> Everything you need, in a single place.<br>
      3D models for every purpose <br>
      displayed in a simple interface</p>
  </div>
  <div class="col l4 pull-l1 s12 m4 center">
    <img class="tpicon" src="assets/icons/global-network.png">
    <h1 class="tptitle">CONNECT</h1>
    <p class="tptext"> Join our community of<br>
      artists and developers pushing<br>
      3D to new heights </p>
  </div>
  <div class="row">
    <div class="col l12 m12 s12 center"><a class="waves-effect waves-light btn-large">LEARN MORE</a></div> <!--Este boton te deberia llevar al about-->
  </div>
</div>

<div id="editorschoice" class="row"> 
  <div class="col l12 m12 s12 center">
    <h1 class="tptitle">FEATURED MODELS</h1>
    <p class="tptext"> The most awesome work uploaded by our talented artists.<br>
    Join our community and begin sharing for a chance to be featured</p>
      <a class="waves-effect waves-light btn-large">START UPLOADING</a>
  </div>

</div>

<!--Este es el div del carrucel, cada imagen debe mandarte a su product page-->
<div class="carousel">
  
  <a class="carousel-item" href="#"><img src="assets/images/astro.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/birdman.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/animan.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/yellow.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/granada.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/arana.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/lizard.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/bird.png"></a>
  <a class="carousel-item" href="#"><img src="assets/images/chest.png"></a>
</div>

<div class="row">
  <div class="col l12 m12 s12 center" id="catcontainer">
    <h1 class="tptitle"> ALL YOUR NEEDS, ONE STOP </h1>
    <p class="tptext"> Everything you're looking for in one place.</p>
  </div>
</div>

<!--Este es el dv de las cards, todos los botones y links de show more deben de ir a galeria-->
<div class="row">
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/rignready.png">
        <span class="card-title">RIGGED AND READY <br> CHARACTERS</span>
      </div>
      <div class="card-content">
        <p>Characters with simple or complex rigs at your disposal. Ready to fulfill any animaton related need. Look for the characters with animation cycles pre-animated.</p>
      </div>
      <div class="card-action">
        <a href="#">Show more</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/forest.png">
        <span class="card-title">LIVELY <br> ENVIRONMENTS</span>
      </div>
      <div class="card-content">
        <p>Environments ready for development and compatible with your software of choice. High complexity? low poly count? stylized? <br>You decide. </p>
      </div>
      <div class="card-action">
        <a href="#">Show more</a>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/barrels.png">
        <span class="card-title" >ASSETS FOR YOUR <br>EVERY NEED</span>
      </div>
      <div class="card-content">
        <p>Assets designed with developers in mind, textures and materials ready for your workflow in various software. From A to Z, in every style.</p>
      </div>
      <div class="card-action">
        <a href="#">Show more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l12 m12 s12 center">
      <a class="waves-effect waves-light btn-large">DISCOVER MORE</a>
    </div>
  </div>
</div>

<!--Este es el ultimo div-->

<div class="row" id="lastdiv">
  <div class="col l6 m6 s12 center">
    <img class="responsive-img" id="crabs" src="assets/images/crabby.png">
  </div>
  <div class="col l6 m6 push-m1 s12">
    <h1 class="ldtitle"> ABOUT US </h1>
    <p class="ldtext"> We are an online 3D asset store focused on <br>
      bettering and growing the community of 3d <br>
      artists and developers.<br><br>
      We plan to achieve this goal by working together<br>
      with our users and artists to create proyects<br>
      in which the community can participate and show <br>
      their skills while being compensated for it.<br><br>
      We look forward to produce educational content <br>
      that atracts new commers and helps beginners <br>
      have an easier time starting their journey. <br><br>
      Join our social media to keep up all the amazing<br>  
      proyects and collabs coming our way:</p>
      <a class="sm" href="https://www.discord.com" ><img src="assets/icons/discord.png"></a>
      <a class="sm" href="https://www.instagram.com" ><img src="assets/icons/instagram.png"></a>
      <a class="sm" href="https://www.facebook.com" ><img src="assets/icons/facebook.png"></a>

  </div>
</div>