 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
   <h2> Filtros </h2>
   <a href="list" class="w3-bar-item w3-button w3-hover-orange">Rango de Precio</a>
    <a href="list" class="w3-bar-item w3-button w3-hover-orange">Calificacion</a>
    <a href="list" class="w3-bar-item w3-button w3-hover-orange">Personajes</a>
    <a href="list" class="w3-bar-item w3-button w3-hover-orange">Escenarios</a>
  </div>


<div class="row">
    <div class="col l10 ">
        <app-product *ngFor="let product of productService.products" [data]="product"></app-product>
    </div>
</div>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="list">2</a></li>
    <li class="waves-effect"><a href="list">3</a></li>
    <li class="waves-effect"><a href="list">4</a></li>
    <li class="waves-effect"><a href="list">5</a></li>
    <li class="waves-effect"><a href="list"><i class="material-icons">chevron_right</i></a></li>
  </ul>
